*{
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(129, 131, 134, 0.3);
    height: 650px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 2px solid blue;
    background-color: rgb(2, 4, 25);
    width: 500px;
}

.title-logo{
    width: 480px;
}

.logo{
    color: blue;
    text-align: left;
    font-weight: normal;
}

.display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: blue;
    font-size: 4rem;
    font-weight:normal;
    border: 1px solid blue;
    padding: 10px;
    width: 480px;
    height: 100px;
    background-color: rgba(34, 37, 36, 0.698);
}

.keys{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid blue;
    width: 480px;
    height: 400px;
    margin-bottom: 10px;
    
}

.butt-set1{
    display: flex;
    flex-wrap: wrap;    
    width: 368px;
    height: 390px;
}

.line{
    border: 1px solid red;
    width: 2px;
    height: 390px;

}

.button1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
    font-size: 3rem;
    font-weight: normal;    
    width: 122px;
    height: 78px;

}

.butt-set2{
    /* border: 1px solid blue; */
    width: 92px;
    height: 390px;

}

.button2{
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
    font-size: 3rem;
    font-weight: normal;   
    width: 91px;
    height: 78px;

}





